<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="Takapo_Cartable" connectionString="Data Source=.;Initial Catalog=Takapo_CRM;User ID=sa; Password=123; integrated security=True;Max Pool Size=900;multipleactiveresultsets=True" />
  </connectionStrings>
</configuration>