/*Gridview with on mouse over highlight*/




.Grid { 

    width: 100%; 

    background-color: #ffffff; 

    margin: 5px 0 10px 0; 

    border: solid 1px #525252; 

             font-family:FarsiWebFont;
            line-height:normal;
            border-color:steelblue;
            background-color:#39cccc;
            color:black;

}

.Grid td { 

    padding: 2px; 
    font-size : 13px;
    border: solid 1px #c1c1c1;    
    color: #000000; 

}

.Grid td a:link

{

	text-decoration:none;

	color:#0000FF;	

}

.Grid td a:visited

{

	text-decoration:none;

	color:#0000FF;	

}

.Grid tr:hover { 
  
    background: #DEDEDE url('../Images/grd_hover.png') 50% top;

}

.Grid th

{ 

    padding: 4px 2px 0px 5px; 

    color: #000000; 

    /*background: #424242 url(img/grd_head.png) repeat-x top; */

    background: #E6EEEE repeat-x 50% top;

    border: solid 1px #c1c1c1; 
	text-align:center;
    font-size: 13px; 

}

.Grid th a {color:#000000;}

.Grid .alt { background: #DEDEDE  repeat-x top; }

.Grid .pgr { background: #424242  repeat-x 50% top;

}

.Grid .pgr table { margin: 5px 0; }

.Grid .pgr td { 

    border-width: 0; 

    padding: 0 6px; 

    border-left: solid 1px #666; 

    font-weight: bold; 

    color: #fff; 

    line-height: 12px; 

 }   

.Grid .pgr a { color: #666; text-decoration: none; }

.Grid .pgr a:hover { color: #000; text-decoration: none; }

#Main table tr td
{
	font-size: 13px; 
}
	
.upperCaseText
{
	text-transform:uppercase 	
}	
	/*Gridview with on mouse over highlight*/




.Grid { 

    width: 100%; 

    background-color: #ffffff; 

    margin: 5px 0 10px 0; 

    border: solid 1px #525252; 

    /*border-collapse:collapse; */

}

.Grid td { 

    padding: 2px; 

    border: solid 1px #c1c1c1; 

    color: #000000; 

}

.Grid td a:link

{

	text-decoration:none;

	color:#0000FF;	

}

.Grid td a:visited

{

	text-decoration:none;

	color:#0000FF;	

}

.Grid tr:hover { 
  
    background: #DEDEDE url('../Images/grd_hover.png') 50% top;

}

.Grid th

{ 

    padding: 4px 2px 0px 5px; 

    color: #000000; 

    /*background: #424242 url(img/grd_head.png) repeat-x top; */

    background: #E6EEEE repeat-x 50% top;

    border: solid 1px #c1c1c1; 
	text-align:center;
    font-size: 13px; 

}

.Grid th a {color:#000000;}

.Grid .alt { background: #DEDEDE  repeat-x top; }

.Grid .pgr { background: #424242  repeat-x 50% top;

}

.Grid .pgr table { margin: 5px 0; }

.Grid .pgr td { 

    border-width: 0; 

    padding: 0 6px; 

    border-left: solid 1px #666; 

    font-weight: bold; 

    color: #fff; 

    line-height: 12px; 

 }   

.Grid .pgr a { color: #666; text-decoration: none; }

.Grid .pgr a:hover { color: #000; text-decoration: none; }

#Main table tr td
{
	font-size: 13px; 	
}
	
.upperCaseText
{
	text-transform:uppercase 	
}	
	
	.imgClass
	{
		algin:right;
		
		width:10px;
		height:10px;
		margin-right:0px;
		display:inline;
		padding-right:3px;
	}
